@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Serif", serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

@media (prefers-color-scheme: dark) {
  #hamburger-menu .material-symbols-outlined,
  #close-menu .material-symbols-outlined {
    font-variation-settings: 
      "FILL" 1, 
      "wght" 400, 
      "GRAD" 0, 
      "opsz" 24;
    color: #fff; 
  }

  body {
    background-color: rgb(0, 12, 0);
  }
}
