/* Nav Bar */
#nav {
  background: #fdfdfd;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
  cursor: pointer;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

#logo {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

#zada-logo {
  padding-bottom: 0.2rem;
}

#zada-text {
  display: flex;
  align-items: center;
}

#zada-text p {
  font-family: "Bodoni Moda", serif;
  color: #000;
}

#navbar {
  display: flex;
  align-items: center;
}

#nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.nav-link {
  list-style: none;
  position: relative;
}

.nav-link a {
  font-family: "Noto Serif", serif;
  text-decoration: none;
  color: #121712;
  font-size: 14px;
  font-weight: 400;
  padding: 0.2rem;
  transition: color 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.nav-link a:hover,
.nav-link a.active {
  color: #016d01;
}

.nav-link a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  background-color: #016d01;
  bottom: -4px;
  left: 5px;
  transition: width 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.nav-link a.active::after,
.nav-link a:hover::after {
  width: 30%;
}

#hamburger-menu,
#close-menu,
.cart {
  padding-top: 0.5rem;
}

#hamburger-menu,
#close-menu {
  display: none;
}

.cart a::after {
  display: none;
}

@media screen and (max-width: 768px) {
  #nav {
    padding: 1rem 1.5rem;
  }

  #hamburger-menu,
  #close-menu {
    display: block;
  }

  #nav-links {
    position: fixed;
    background-color: #fdfdfd;
    right: -500px;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 90vw;
    padding: 1.25rem 3rem;
    transition: right 0.9s ease-in-out;
    box-shadow: -8px 0 16px rgb(0, 0, 0, 0.08);
  }

  #nav-links.active {
    right: 0;
  }

  .nav-link a {
    position: relative;
    overflow: hidden;
  }

  .nav-link a::after {
    bottom: -2px;
  }

  .nav-link a.hover::after,
  .nav-link a.active::after {
    width: 100%;
  }

  .nav-link a.active::after {
    width: 100px;
    height: 100px;
    background: rgba(1, 109, 1, 0.3);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 0.4s linear;
  }

  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
}


@media (prefers-color-scheme: dark) {
  #nav {
    background: url("/product-images/hero-dark.png");
  }

  .nav-link a,
  #zada-text p {
    color: #fdfdfd;
  }

  .nav-link a:hover,
  .nav-link a.active {
    color: #e5c07b;
  }

  .nav-link a::after {
    background-color: #e5c07b;
  }

  @media screen and (max-width: 768px) {
    #nav-links {
      background-color: #0B1C0B;
    }
  }
}
